---
import MenuButton from "../components/MenuButton.svelte";
import MobileMenu from "../components/MobileMenu.svelte";
import { getDirectusClient } from "../utils/getDirectusClient";

const directus = await getDirectusClient();

const menuItems = (
  await directus.items("menu_items").readByQuery({
    fields: ["id", "label", "path", "status"],
    filter: { status: "published" },
  })
)?.data;

const footerIcons = (
  await directus.items("footer_icons").readByQuery({
    fields: ["id", "brand", "link"],
    filter: { status: "published" },
  })
)?.data;

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.icns" />
    <script
      src="https://kit.fontawesome.com/b4e4107e2e.js"
      crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>Jose Castillo | {title}</title>
  </head>
  <body
    class="bg-white min-h-screen flex flex-col justify-between bg-gradient-to-tr from-slate-300 to-slate-50"
  >
    <header>
      <nav class="py-8 px-8 flex items-center justify-between">
          <a href="/"
            ><img src="/Jose Castillo logo.png" class="h-16 md:h-20" /></a
        >
        <ul class="hidden md:flex md:gap-4">
          {
            menuItems?.map((menuItem) => {
              return (
                <li>
                  <a
                    href={menuItem.path}
                    class="p-2 text-gray-400 hover:text-highlight transition-all"
                  >
                    {menuItem.label}
                  </a>
                </li>
              );
            })
          }
        </ul>
        <div class="md:hidden">
          <MenuButton client:load />
        </div>
      </nav>
    </header>
    <main id="swup" class="w-screen max-w-7xl mx-auto outline-none">
      <slot />
    </main>

    <footer class="footer bg-white border-t-2 border-black mt-8 py-12">
      <div class="social flex justify-center gap-4">
        {
          footerIcons?.map((icon) => {
            return (
              <a
                href={icon.link}
                target="_blank"
                class="hover:animate-pulse"
                title={icon.brand}
              >
                <i
                  class={`fab fa-${icon.brand.toLowerCase()} fa-2x hover:animate-pulse`}
                />
              </a>
            );
          })
        }
      </div>
    </footer>
    <MobileMenu menuItems={menuItems} client:load />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  .swup-progress-bar {
    height: 4px;
    @apply bg-highlight;
  }
</style>
<script>
  import "../utils/swup.js";
</script>
